@charset "utf-8";

/* ===== 그리드 시스템 confix ===== */
.confix { 
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

.vBox::before, .vBox::after {
    content: '';
    display: block;
    clear: both;
}


/*========== header area ==========*/
header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    height: 75px;
    width: 100%;
    background: rgba(255,255,255,0.3);
}

/* 로고 */
.logo {
    float: left;
    width: 180px;
    margin-top: 15px;
    margin-right: 20px;
}

.logo h1 img{
    width: 130px;
}

/* 메인메뉴 */
.mainMenu .gnb {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    height: 75px;
    line-height: 75px;
}

.gnb li{
    width: 180px;
    margin: 0 10px;
    text-align: center;
}

.gnb li>a {
    font-size: 16px;
    font-weight: bold;
}

.gnb li:hover a {
    font-size: 18px;
    font-weight: bold;
}

/* 로그인, 회원가입 */
.loginSignup {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.loginSignup ul{
    display: flex;
}

.loginSignup ul li {
    padding: 10px;
}

.loginSignup li>a {
    font-size: 12px;
}

.loginSignup li:hover a {
    font-weight: bold;
}


/*=============== main============= */
.mainImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.mainImg img {
    width: 100%;
}

.rightBox {
    margin-top: 550px;
    margin-left: 395px;
}

/* ================profile================= */
.profile {
    float: left;
    position: sticky;
    top: 200px;
}

.profile> h1 {
    font-size: 30px;
    font-family: 'NEXON Lv2 Gothic Bold';
    letter-spacing: -1px;
}

.profile p {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: -1px;
}

.profile>span {
    display: block;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

.profile a {
    margin-top: 45px;
    display: inline-block;
    padding-top: 20px;
    border-top: 10px solid #1f4da0;
    color: #535353;
}

.share {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.profile button {
    background: #f9f9f9 ; 
    border:none; 
    padding:0; 
    color: #535353;
    cursor:pointer;
}


/* ================description================= */

.description .subtitle span {
    width: 100px;
    height: 2px;
    background-color: black;
}

.description .subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.description .subtitle::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    margin-right: 10px;
    margin-bottom: 2px;
    background-color: black;
}

.description h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.description .descTxt {
    line-height: 30px;
}

/* ================film================= */

.film {
    margin-top: 200px;
    margin-bottom: 80px;
}

input {
    display: none;
}
.rightArrow {
    float: right;
}
.rightArrow img {
    transform: rotate(-90deg);
    width: 14px;
}

label {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 40px;
    width: 265px;
    font-size: 20px;
    font-family: 'NEXON Lv2 Gothic Bold';
    border-bottom: 5px solid black;
}



label:hover {
    cursor: pointer;
    border-bottom: 5px solid #1f4da0;
}

input:checked + label {
    border-bottom: 5px solid #1f4da0;
}

section {
    display: none;
    position: relative;
    bottom: 390px;
    right: 40px;
    float: right;
    font-size: 14px;
    width: 400px;
    height: 550px;
    /* background-color: red; */
}

section ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

section ul li {
    margin: 12px 0px;
    color: #383838;
}

#movie:checked ~ #movieText,
#drama:checked ~ #dramaText,
#etc:checked ~ #etcText {
    display: block;
}
/* ================photoLine================= */

.photoLine, 
.videoLine {
    clear: both;
}

.photoLine h2,
.videoLine h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.imgWrapper {
    display: flex;
    justify-content: space-between;
}

.photoLine {
    position: relative;
    top: -350px;
}


.photoLine .open1,
.photoLine .open2,
.photoLine .open3,
.photoLine .open4,
.photoLine .open5,
.photoLine .open6{
    overflow: hidden;
    width: 250px;
    height: 165px;
    cursor: pointer;
}

.photoLine .open1 img,
.photoLine .open2 img,
.photoLine .open3 img,
.photoLine .open4 img,
.photoLine .open5 img,
.photoLine .open6 img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.5s;
}


.photoLine .open1 img:hover,
.photoLine .open2 img:hover,
.photoLine .open3 img:hover,
.photoLine .open4 img:hover,
.photoLine .open5 img:hover,
.photoLine .open6 img:hover {
    transform: scale(1.05);
}

.imgWrapper2 {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


/* ================== video hover ============= */

.videoLine {
    position: relative;
    top: -250px;
    width: 786px;
}
.videoWrapper {
    display: flex;
    justify-content: space-between;
}

.videoWrapper2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.video1 {
    position: relative;
}

.video1>img {
    width: 381px;
    height: 204px;
}

#video1 {
    width: 782px;
    height: 408px;
}

#video1>img {
    width: 782px;
    height: 408px;
}

.videoLine #video1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 782px;
    height: 408px;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.videoLine #video1:hover::after {
    opacity: 0.5;
}


.videoLine span {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%);
    font-size: 22px;
    color: white;
    opacity: 0;
    z-index: 5;
    transition: 0.5s;
}

.videoLine .date {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    color: white;
    opacity: 0;
    z-index: 5;
    transition: 0.5s;
}

.videoLine .video1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 381px;
    height: 204px;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.videoLine .video1:hover::after {
    opacity: 0.5;
}

.videoLine .video1:hover .date,
.videoLine .video1:hover span{
    opacity: 1;
}







/* ==================footer================== */

footer {
    position: relative;
    height: 140px;
    line-height: 23px;
    border-top: 1px solid #bdbdbd;
    font-size: 12px;
    color: #6f6f6f;
    background-color: #f5f5f5;
}


/* 푸터로고 */
.footerLogo {
    float: left;
    width: 180px;
    margin-top: 36px;
    margin-right: 20px;
}

.footerLogo h2 img{
    width: 150px;
}

/* 주소,연락처 */
.adrTxt {
    float: left;
    margin-top: 36px;
}

.adrTxt strong {
    padding-right: 10px;
}

.adrTxt span {
    padding-right: 35px;
    font-size: 12px;
}

/* 카피라이트 */
.copyright {
    font-size: 12px;
}

/* SNS */
.snsArea .snsList {
    float: right;
    margin-top: 36px;
}

.snsList li {
    float: left;
    padding: 0 8px;
}

.snsList li img {
    width: 15px;
}