@charset "utf-8";

html {
    font-size: 10px;
    overflow-x: hidden;
}

/* ===== 그리드 시스템 confix ===== */
.confix { 
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.vBox::before, .vBox::after {
    content: '';
    display: block;
    clear: both;
}


/*========== header area ==========*/
header {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 9999;
    /* background-color: #fff; */
}

.headerConfix {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 로고 */
.logo {
    float: left;
    width: 180px;
    width: 15%;
    margin-top: 15px;
    margin-right: 20px;
}

.logo h1 img{
    width: 130px;
}

.logo .mobileLogo {
    display: none;
}

/* mobileBtn */
.mobileBtn {
    display: none;
}

/* 메인메뉴 */
.mainMenu .gnb {
    display: flex;
    flex-wrap: nowrap;
    width: 820px;
    width: 68.333%;
    height: 75px;
    line-height: 75px;
}

.gnb li {
    width: 180px;
    width: 22.304%;
    margin: 0 10px;
    text-align: center;
}

.gnb li>a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;
    color: #fff;
}

.gnb li:hover a {
    font-size: 17px;
}

.gnb li a::after {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 2px;
    width: 0;
    transition: all 0.4s;
    background-color: #1f4da0;
}

.gnb li:hover a::after {
    width: 100%;
}


/* 로그인, 회원가입 */
.loginSignup {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    /* transform: translateY(-50%); */
}

.loginSignup ul{
    display: flex;
}

.loginSignup ul li {
    padding: 10px;
}

.loginSignup li>a {
    color: #fff;
    font-size: 12px;
}

.loginSignup li:hover a {
    font-weight: bold;
}


/*============ main ============*/
main {
    width: 100%;
    background-color: #f9f9f9;
}

section h1 {
    font-size: 0;
}
/* ============ card ========== */
.wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    }

.slideContainer{
    width:100vw;
    height:600px;
    position: relative;
    overflow: hidden;
}

.slider{
    display: flex;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.item{
    width:100vw;
    /* height:600px; */
}

.item img{
    width:100vw;
    object-fit: cover;
}

.container ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

/* ===========artistBgText============== */
.artistBgText {
    position: relative;
    top: 200px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    z-index: 9;
    margin-bottom: 100px;
    font-family: 'Mongolian Baiti';
    text-align: center;
    opacity: 40%;
    color: black;
    user-select: none;
    -webkit-text-fill-color: #f9f9f9;;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.artistBgText h2 {
    letter-spacing: 20px;
    font-size: 1vw;
}

.artistBgText p {
    font-size: 12vw;
}

/* artistLineUp */
.artistLineUp {
    position: sticky;
    top: -100px;
    font-size: 2rem;
    z-index: 1;
}

.artistLineUp ul {
    float: left;
    margin-top: 305px;
}

.artistLineUp ul li {
    padding: 15px 0;
}

.artistLineUp ul li:first-child a {
    border-top: 10px solid #1f4da0;
    padding-top: 20px;
}

.artistLineUp ul li a:hover {
    font-weight: bold;
}

/*== artistPhotoArea == */


/* artist1 */


.artist1 {
    position: absolute;
    top: 240px;
    right: 150px;
    width: 550px;
    height: 365px;
    /* background-color: #dbe2df; */
}

.artist1Bg {
    position: relative;
    left: 0;
    bottom: 385px;
    width: 550px;
    height: 378px;
    background-color: #dbe2df;
}


.artist1 img {
    position: relative;
    top: 40px;
    left: 150px;
    width: 550px;
    z-index: 2;
}

.artist1Korean {
    position: relative;
    left: 90px;
    bottom: 375px;
    z-index: 1;
    pointer-events: none; 
}

.artist1English {
    position: relative;
    display: inline-block;
    left: -65px;
    bottom: 620px;
    font-size: 3.6rem;
    font-family: 'NEXON Lv2 Gothic Bold';
    z-index: 1;
    pointer-events: none; 
    transform: rotate(-90deg);
}


/* artist2 */
.artist2 {
    position: absolute;
    left: 260px;
    top: 795px;
    width: 380px;
    height: 315px;
    /* background-color: #e8e8e8; */
}

.artist2Bg {
    position: relative;
    left: 0;
    bottom: 359px;
    width: 380px;
    height: 315px;
    background-color: #e8e8e8;
}

.artist2 img {
    position: relative;
    top: -55px;
    left: -90px;
    width: 355px;
    z-index: 2;
}

.artist2Korean {
    position: relative;
    left: 280px;
    bottom: 415px;
    z-index: 1;
    pointer-events: none; 
}

.artist2English {
    position: relative;
    left: -120px;
    bottom: 770px;
    font-size: 3.6rem;
    z-index: 1;
    pointer-events: none; 
    font-family: 'NEXON Lv2 Gothic Bold';
}



/* artist3 */

.artist3 {
    position: absolute;
    right: 0;
    top: 1320px;
    width: 590px;
    height: 395px;
}

.artist3Bg {
    position: relative;
    left: 0;
    bottom: 390px;
    background-color: #dfe7e8;
    width: 590px;
    height: 395px;
}

.artist3 img {
    position: relative;
    top: -90px;
    right: 100px;
    width: 580px;
    z-index: 2;
}

.artist3Korean {
    position: relative;
    right: 160px;
    bottom: 520px;
    z-index: 1;
    pointer-events: none; 
}

.artist3English {
    position: relative;
    left: 216px;
    bottom: 925px;
    font-size: 3.6rem;
    z-index: 1;
    pointer-events: none; 
    font-family: 'NEXON Lv2 Gothic Bold';
}



/* artist4 */
.artist4 {
    position: absolute;
    left: 325px;
    top: 1965px;
    width: 510px;
    height: 325px;
    /* background-color: red; */
}

.artist4Bg {
    position: relative;
    bottom: 358px;
    width: 510px;
    height: 325px;
    background-color: #ebebeb;
}


.artist4 img {
    position: relative;
    top: -125px;
    left: -55px;
    width: 490px;
    z-index: 2;
}

.artist4Korean {
    position: relative;
    left: 455px;
    bottom: 490px;
    z-index: 1;
    pointer-events: none; 
}

.artist4English {
    position: relative;
    display: inline-block;
    bottom: 710px;
    left: 310px;
    font-size: 3.6rem;
    z-index: 1;
    pointer-events: none; 
    transform: rotate(90deg);
    font-family: 'NEXON Lv2 Gothic Bold';
}


/* artist5 */
.artist5 {
    position: absolute;
    right: 40px;
    top: 2455px;
    width: 440px;
    height: 540px;
    /* background-color: red; */
}

.artist5Bg {
    position: relative;
    right: 10px;
    bottom: 529px;
    width: 440px;
    height: 540px;
    background-color: #d2dadc;
}

.artist5 img {
    position: relative;
    top: -30px;
    right: -100px;
    width: 350px;
    z-index: 2;
}

.artist5Korean {
    position: relative;
    left: 40px;
    bottom: 610px;
    pointer-events: none; 
    z-index: 1;
}

.artist5English {
    position: relative;
    right: 182px;
    bottom: 1000px;
    font-size: 3.6rem;
    z-index: 1;
    pointer-events: none; 
    font-family: 'NEXON Lv2 Gothic Bold';
}



/* artist6 */
.artist6 {
    position: absolute;
    left: 190px;
    top: 3115px;
    width: 410px;
    height: 410px;
}

.artist6Bg {
    position: relative;
    left: 0;
    bottom: 468px;
    width: 410px;
    height: 410px;
    background-color: #d3d5ca;
}

.artist6 img {
    position: relative;
    top: 70px;
    left: 60px;
    width: 370px;
    z-index: 2;
}

.artist6Korean {
    position: relative;
    left: 445px;
    bottom: 380px;
    pointer-events: none; 
    z-index: 1;
}

.artist6English {
    position: relative;
    left: -30px;
    bottom: 855px;
    font-size: 3.6rem;
    pointer-events: none; 
    z-index: 1;
    font-family: 'NEXON Lv2 Gothic Bold';
}


/* artist7 */
.artist7 {
    position: absolute;
    right: 230px;
    top: 3805px;
    width: 370px;
    height: 400px;
    /* background-color: red; */
}

.artist7Bg {
    position: relative;
    left: 0;
    bottom: 434px;
    width: 370px;
    height: 400px;
    background-color: #cdd5dc;
}


.artist7 img {
    position: relative;
    top: 120px;
    left: 120px;
    width: 430px;
    z-index: 2;
}

.artist7Korean {
    position: relative;
    left: 60px;
    bottom: 320px;
    pointer-events: none; 
    z-index: 1;
}

.artist7English {
    position: relative;
    right: 100px;
    bottom: 630px;
    font-size: 3.6rem;
    pointer-events: none; 
    z-index: 1;
    transform: rotate(-90deg);
    display: inline-block;
    font-family: 'NEXON Lv2 Gothic Bold';
}



/* artist8 */
.artist8 {
    position: absolute;
    left: 400px;
    top: 4570px;
    width: 480px;
    height: 410px;
}

.artist8Bg {
    position: relative;
    left: 0;
    bottom: 383px;
    width: 480px;
    height: 410px;
    background-color: #d6e2e2;
}

.artist8 img {
    position: relative;
    top: -35px;
    right: 100px;
    width: 480px;
    z-index: 4;
}

.artist8Korean {
    position: relative;
    left: 395px;
    bottom: 485px;
    pointer-events: none; 
    z-index: 2;
}

.artist8English {
    position: relative;
    bottom: 440px;
    right: 150px;
    font-size: 3.6rem;
    pointer-events: none; 
    z-index: 2;
    font-family: 'NEXON Lv2 Gothic Bold';
}





/*========== footer area ==========*/
footer {
    position: relative;
    width: 100vw;
    padding: 33px 0;
    min-height: 140px;
    line-height: 23px;
    border-top: 1px solid #bdbdbd;
    font-size: 12px;
    word-break: keep-all;
    color: #6f6f6f;
    background-color: #f5f5f5;
}

.footerArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* 푸터로고 */
.footerLogo {
    width: 180px;
    margin-right: 20px;
}

.footerLogo h2 img{
    width: 150px;
}

/* 주소,연락처 */
.adrTxt strong {
    padding-right: 10px;
}

.adrTxt span {
    padding-right: 35px;
}

/* 카피라이트 */
.copyright {
    font-size: 12px;
}

/* SNS */
.snsArea {
    width: 240px;
    padding: 0;
}

.snsList li {
    float: left;
    padding: 0 8px;
}

.snsList li img {
    width: 15px;
}

.artist1Bg,
.artist1>a,
.artist1Korean, 
.artist1English,

.artist2Bg,
.artist2>a,
.artist2Korean, 
.artist2English,

.artist3Bg,
.artist3>a,
.artist3Korean, 
.artist3English,

.artist4Bg,
.artist4>a,
.artist4Korean, 
.artist4English,

.artist5Bg,
.artist5>a,
.artist5Korean, 
.artist5English,

.artist6Bg,
.artist6>a,
.artist6Korean, 
.artist6English,

.artist7Bg,
.artist7>a,
.artist7Korean, 
.artist7English,

.artist8Bg,
.artist8>a,
.artist8Korean, 
.artist8English{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (min-width: 1025px) {
    .artistPhotoArea {
        height: 5300px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 8px;   
    }

    /* 로고 */
    .logo h1 img {
        width: 110px;
    }

    /* mainMenu */
    .gnb li>a {
        font-size: 14px;
    }

    .gnb li:hover a {
        font-size: 16px;
    }

    /* 로그인, 회원가입 */
    .loginSignup li>a {
        font-size: 10px;
    }


    .confix { 
        position: relative;
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .wrapper {
        width: 100vw;
        overflow: hidden;
    }
    .slideContainer {
        height: 400px;
    }

    .item{
        width:100vw;
        height:600px;
    }
    
    .item img{
        width:100vw;
        min-height: 600px;
    }

    .artistBgText {
        top: 150px;
        height: 250px;
        display: block;
        margin-bottom: 0px;
    }

    .artistLineUp {
        clear: both;
        position: relative;
        width: 100%;
        top: -200px;
        font-size: 2.4rem;
        z-index: 9999;
    }

    .artistLineUp ul {
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        margin-top: 370px;
        width: 100%;
    }

    .artistLineUp ul li {
        width: 25%;
        height: 60px;
        text-align: center;
        padding: 0;
        padding-top: 12px;
        /* background-color: lightgray; */
    }

    .artistLineUp ul li> a {
        width: 90%;
        height: 90%;
        /* background-color: red; */
    }


    .artistLineUp ul li:first-child a {
        border-top: none;
        padding-top: 0px;
    }

    .artistPhotoArea {
        position: relative;
        width: 100%;
        margin-top: -180px;
    }

    .artistPhotoArea .confix {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4px;
    }

    .artist {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 32%;
        height: 500px;
        overflow: hidden;
    }

    .artist a {
        overflow: hidden;
        width: 100%;
        height: 300px;
    }
    .artist img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 300px;
        z-index: 0;
        object-fit: cover;
    }

    .artist span  {
        position: relative;
        display: block;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        font-size: 2.6rem;
        z-index: 0;
        pointer-events: none; 
        transform: rotate(0);
    }



    .bg {
        display: none;
    }


    /*========== footer ==========*/
    footer {
        padding: 20px 0;
        text-align: center;
    }

    .footerArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 푸터로고 */
    .footerLogo {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .footerLogo h2 img {
        width: 120px;
    }

    /* 주소,연락처 */
    .adrTxt address,
    .adrTxt span {
        display: none;
    }

    /* 카피라이트 */
    .copyright {
        margin-bottom: 20px;
    }
    
    /* SNS */
    .snsArea {
        display: flex;
        justify-content: space-evenly;
    }


}


@media screen and (max-width: 768px) {
    html {
        font-size: 7px;
    }
    .slideContainer {
        height: 350px;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        height: 55px;
        z-index: 99;
    }
    
    .item{
        width:100vw;
    }
    
    .item img{
        width:100vw;
        min-height: 400px;
    }
    
    .logoMenu {
        position: fixed;
        top: 0;
        height: 55px;
        z-index: 2;
        background: #fff;
        overflow: hidden;
        transition: all 0.3s;
    }

    .headerConfix {
        width: 100%;
    }

    /* mobileBtn */
    .mobileBtn {
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 5%;
        content: "";
        padding-top: 25px;
        cursor: pointer;
    }

    .mobileBtn span {
        position: relative;
        display: block;
        margin-bottom: 8px;
        height: 2px;
        width: 25px;
        background: #000;
        transition: all 0.5s;
    }

    .mobileBtn span:nth-child(2).closeBar::after {
        position: absolute;
        top: 0;
        content: "";
        height: 2px;
        width: 25px;
        background: #000;
        transform: rotate(90deg);
        transition: all 0.5s;
    }

    .mobileBtn span:first-child,
    .mobileBtn span:last-child {
        transition: all 0.2s;
    }

    .rotate {
        transform: rotate(45deg);
    }

    .hidden {
        opacity: 0;
    }

    /* 로고 */
    .logo {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-right: 0px;
    }

    .logo h1 {
        display: none;
    }

    .logo .mobileLogo {
        display: block;
        text-align: center;
    }

    .logo .mobileLogo img{
        width: 100px;
    }

    /* 메인메뉴 */
    .mainMenu .gnb {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        height: auto;
        line-height: 45px;
        background: #fff;
        transition: all 0.3s;
    }

    .gnb li {
        width: 100%;
    }

    .gnb li>a {
        color: #000;
        width: 100%;
    }

    .gnb li a::after {
        display: none;
    }

    /* 로그인, 회원가입 */
    .loginSignup {
        position: relative;
        top: 0;
        margin: 10px 0 0;
        font-weight: bold;
        line-height: 0;
        z-index: 2;
    }

    .loginSignup ul {
        justify-content: center;
    }

    .loginSignup li>a {
        color: #000;
    }

    .confix { 
        position: relative;
        width: 90%;
        max-width: 768px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .artistBgText {
        top: 130px;
        height: 25%;
        display: block;
        margin-bottom: 0px;
        z-index: 1;
    }

    .artistBgText h2 {
        display: none;
    }
    .artistBgText p {
        font-size: 17vw;
    }

    .artistLineUp {
        position: relative;
        width: 100%;
        top: -15px;
        font-size: 2.4rem;
        z-index: 1;
    }

    .artistLineUp ul {
        float: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        margin-top: 270px;
        width: 100%;
    }

    .artistLineUp ul li {
        width: 25%;
        height: 60px;
        text-align: center;
        padding: 0;
        padding-top: 25px;

    }

    .artistLineUp ul li> a {
        width: 100%;
        height: 100%;
    }


    .artistLineUp ul li:first-child a {
        border-top: none;
        padding-top: 0px;
    }

    .artistPhotoArea {
        width: 100%;
        margin-top: 15px;
    }

    .artistPhotoArea .confix {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .artist {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 49%;
        height: 500px;
        overflow: hidden;
    }

    .artist a {
        overflow: hidden;
        width: 100%;
        height: 300px;
    }
    .artist img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 300px;
    }

    .artist span  {
        position: relative;
        display: block;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        font-size: 2.6rem;
        z-index: 1;
        pointer-events: none; 
        transform: rotate(0);
    }
}

@media screen and (max-width:425px)  {

    .slideContainer {
        height: 250px;
        margin-top: 55px;
    }
    .artist {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 99%;
        height: 400px;
        overflow: hidden;
    }

    .artist a {
        overflow: hidden;
        width: 100%;
        height: 60%;
    }
    .artist img {
        object-fit: cover;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}