html, body {
    background-color: #f9f9f9;
}

.mainImg {
    position: relative;
    width: 100%;
}

.wrap {
    position: relative;
    top: -600px;
}

.profile {
    float: left;
    position: sticky;
    top: 200px;
    letter-spacing: -1px;
}

.profile> h1 {
    font-size: 30px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.profile p {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.profile>span {
    display: block;
}

.profile a {
    margin-top: 45px;
    display: inline-block;
    padding-top: 20px;
    border-top: 10px solid #1f4da0;
    color: #535353;
}

.share {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

.profile button {
    background: #f9f9f9 ; 
    border:none; 
    padding:0; 
    color: #535353;
    cursor:pointer;
}

.rightBox {
    position: relative;
    margin-left: 395px;
    bottom: 350px;
}

.description .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
}

.description h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.description .descTxt {
    line-height: 30px;
}

.description button {
    float: right;
    margin-top: 30px;
    background: #f9f9f9 ; 
    border:none; 
    padding:0; 
    color: #535353;
    cursor:pointer
}

.film {
    margin-top: 200px;
    margin-bottom: 80px;
}

input {
    display: none;
}
.rightArrow {
    float: right;
}

label {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 265px;
    font-size: 20px;
    font-family: 'NEXON Lv2 Gothic Bold';
    border-bottom: 5px solid black;
}



label:hover {
    cursor: pointer;
    border-bottom: 5px solid #1f4da0;
}

input:checked + label {
    border-bottom: 5px solid #1f4da0;
}

section {
    display: none;
    position: relative;
    bottom: 390px;
    right: 200px;
    float: right;
    font-size: 14px;
    width: 250px;
    height: 550px;
}

section ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

section ul li {
    margin: 9px 0px;
}

#movie:checked ~ #movieText,
#drama:checked ~ #dramaText,
#etc:checked ~ #etcText {
    display: block;
}




.photoLine, .videoLine {
    clear: both;
}

.photoLine h2, .videoLine h2 {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.photoLine {
    position: relative;
    top: -350px;
}

.photoLine div {
    display: inline-block;
}


.videoLine {
    position: relative;
    top: -300px;
}

.videoLine div{
    display: inline-block;
}



.photoLine button, .videoLine button {
    float: right;
    position: relative;
    right: 20px;
    margin-top: 30px;
    background: #f9f9f9; 
    border:none; 
    padding:0; 
    color: #535353;
    cursor:pointer;
}