@charset "utf-8";

/* ===== 그리드 시스템 confix ===== */
.confix { 
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: gold; */
}

.vBox::before, .vBox::after {
    content: '';
    display: block;
    clear: both;
}



/*========== header area ==========*/
header {
    height: 75px;
    /* background-color: pink; */
}

/* 로고 */
.logo {
    float: left;
    width: 180px;
    width: 15%;
    margin-top: 15px;
    margin-right: 20px;
}

.logo h1 img{
    width: 130px;
}

/* mobileBtn */
.mobileBtn {
    display: none;
}

/* 메인메뉴 */
.mainMenu .gnb {
    display: flex;
    flex-wrap: nowrap;
    width: 820px;
    width: 68.333%;
    height: 75px;
    line-height: 75px;
}

.gnb li {
    width: 180px;
    width: 22.304%;
    margin: 0 10px;
    text-align: center;
}

.gnb li>a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;
}

.gnb li:hover a {
    font-size: 17px;
}

.gnb li a::after {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 2px;
    width: 0;
    transition: all 0.4s;
    background-color: #1f4da0;
}

.gnb li:hover a::after {
    width: 100%;
}


/* 로그인, 회원가입 */
.loginSignup {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    /* transform: translateY(-50%); */
}

.loginSignup ul{
    display: flex;
}

.loginSignup ul li {
    padding: 10px;
}

.loginSignup li>a {
    font-size: 12px;
}

.loginSignup li:hover a {
    font-weight: bold;
}


/*========== content area ==========*/
main {
    width: 100%;
    background-color: #f9f9f9;
}

/*==== signUp ====*/
.signUp {
    padding: 70px 0 100px;
    text-align: center;
}

.signUp h1 {
    margin-bottom: 40px;
}

.signUp form {
    margin: 0 5%;
    border-top: 2px solid #000;
}

/* 폼 세 구역으로 구분 */
.signUp form>div {
    padding: 45px 0;
    border-bottom: 2px solid #000;
}

/* 폼 구역 안 구분 공통 */
.signUp form>div>div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0 10%;
    /* max-width: 980px; */
}

.signUp form>div>div:last-child {
    margin-bottom: 0;
}

.signUp form>div>div p {
    width: 18.3673%;
    max-width: 180px;
    min-width: 120px;
    text-align: start;
}

.signUp form>div>div .red {
    padding-left: 10px;
    color: #ff0000;
}

.signUp form>div>div input {
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #f9f9f9;
}

.signUp form>div>div input::placeholder {
    font: 12px 'NEXON Lv2 Gothic';
    color: #636363;
}

.signUp form input[type=checkbox] {
    display: none;
}

.signUp form input[type=checkbox] + label {
    padding-left: 25px;    
    background: url(../images/signUp/nonCheck.png) no-repeat;
    cursor: pointer;
}

.signUp form input[type=checkbox]:checked + label {
    background: url(../images/signUp/check.png) no-repeat;
}

/*==== idPw ====*/
.idPw input {
    max-width: 680px;
    width: 69.3877%;
}

.idPw .id button {
    margin-left: 25px;
    padding: 10px;
    min-width: 80px;
    border: 0;
    color: #fff;
    font: 14px 'NEXON Lv2 Gothic';
    background: #1f4da0;
    transition: all 0.3s;
}

.idPw .id button:hover {
    background-color: #142d5c;
}

/*==== info ====*/
.info select {
    max-width: 120px;
    min-width: 90px;
    width: 10.245%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #000;
    background: #f9f9f9;
} 

.info .userName input {
    max-width: 680px;
    width: 69.3877%;
} 

.info .email input {
    max-width: 320px;
    width: 32.6531%;
    margin: 0 10px;
}

.info .email .firstEmail {
    margin-left: 0;
}

/* infoAgree */
.signUp form .info .infoAgree {
    align-items: flex-start;
}

.infoAgree .infoAgreeList div {
    display: flex;
    line-height: 20px;
}

.infoAgree .infoAgreeList label {
    text-align: left;
    word-break: keep-all;
}

.infoAgree .infoAgreeList .emailAgree {
    margin-bottom: 15px;
}

/*==== agree ==== */
.signUp form .agree {
    padding: 0;
    margin-bottom: 30px;
    border-bottom: none;
}

.signUp form .agree>div {
    display: block;
    padding-top: 20px;
    margin-bottom: 0;
    text-align: left;
}

.agree input[type=checkbox] {
    float: left;
    margin-right: 10px;
}

.agree label {
    width: 97%;
    cursor: pointer;
}

/* title */
.agree .title {
    display: flex;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #000;
}

.agree .title label + img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

/* contents */
.agree .contents {
    height: 0;
    overflow: scroll;
    overflow-x: hidden;
    transition: all 0.3s;
    background: #ededed;
}

.agree .contents p {
    width: 100%;
    max-width: 100%;
    line-height: 30px;
    margin: 3% 0; 
}

/* allAgree */
.agree .allAgree {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

/* over14 */
.over14 .title {
    padding-bottom: 25px;
}

/*==== button ====*/
.signUp form>button {
    width: 160px;
    height: 50px;
    border: none;
    color: #fff;
    font: 15px 'NEXON Lv2 Gothic';
    background: #1f4da0;
    transition: all 0.3s;
}

.signUp form>button:hover {
    background-color: #142d5c;
}

/*========== footer area ==========*/
footer {
    position: relative;
    padding: 33px 0;
    min-height: 140px;
    line-height: 23px;
    border-top: 1px solid #bdbdbd;
    font-size: 12px;
    word-break: keep-all;
    color: #6f6f6f;
    background-color: #f5f5f5;
}

.footerArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: red; */
}

/* 푸터로고 */
.footerLogo {
    width: 180px;
    margin-right: 20px;
}

.footerLogo h2 img{
    width: 150px;
}

/* 주소,연락처 */
.adrTxt strong {
    padding-right: 10px;
}

.adrTxt span {
    padding-right: 35px;
}

/* 카피라이트 */
.copyright {
    font-size: 12px;
}

/* SNS */
.snsArea {
    width: 240px;
    padding: 0;
}

.snsList li {
    float: left;
    padding: 0 8px;
}

.snsList li img {
    width: 15px;
}


@media screen and (max-width:1024px) { /*======== 1024 =======*/
    /*========== footer ==========*/
    footer {
        padding: 20px 0;
        text-align: center;
    }

    .footerArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 푸터로고 */
    .footerLogo {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .footerLogo h2 img {
        width: 120px;
    }

    /* 카피라이트 */
    .copyright {
        margin-bottom: 20px;
    }
    
    /* SNS */
    .snsArea {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:768px) { /*======== 768 =======*/
    /*========== header ==========*/
    header {
        position: relative;
        height: 55px;
    }

    .logoMenu {
        position: fixed;
        top: 0;
        height: 55px;
        z-index: 2;
        background: #fff;
        overflow: hidden;
        transition: all 0.3s;
    }

    /* mobileBtn */
    .mobileBtn {
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 5%;
        content: "";
        padding-top: 25px;
        cursor: pointer;
    }

    .mobileBtn span {
        position: relative;
        display: block;
        margin-bottom: 8px;
        height: 2px;
        width: 25px;
        background: #000;
        transition: all 0.5s;
    }

    .mobileBtn span:nth-child(2).closeBar::after {
        position: absolute;
        top: 0;
        content: "";
        height: 2px;
        width: 25px;
        background: #000;
        transform: rotate(90deg);
        transition: all 0.5s;
    }

    .mobileBtn span:first-child,
    .mobileBtn span:last-child {
        transition: all 0.2s;
    }

    .rotate {
        transform: rotate(45deg);
    }

    .hidden {
        opacity: 0;
    }

    /* 로고 */
    .logo {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-right: 0px;
    }

    .logo h1 {
        text-align: center;
    }

    .logo h1 img{
        width: 100px;
    }

    /* 메인메뉴 */
    .mainMenu .gnb {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        height: auto;
        line-height: 45px;
        background: #fff;
        transition: all 0.3s;
    }

    .gnb li {
        width: 100%;
    }

    .gnb li>a {
        width: 100%;
    }

    .gnb li a::after {
        display: none;
    }

    /* 로그인, 회원가입 */
    .loginSignup {
        position: relative;
        top: 0;
        margin: 10px 0 0;
        font-weight: bold;
        line-height: 0;
        z-index: 2;
    }

    .loginSignup ul {
        justify-content: center;
    }

    /*========== main ==========*/
    /*==== signUp ====*/
    .signUp h1 {
        font-size: 28px;
    }

    .signUp form input[type=checkbox] + label {
        font-size: 14px;
    }

    /* 폼 구역 안 구분 공통 */
    .signUp form>div>div {
        padding: 0 5%;
    }

    .signUp form>div>div p {
        min-width: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width:500px) { /*======== 500 =======*/
    /*========== main ==========*/
    /*==== signUp ====*/
    .signUp h1 {
        font-size: 25px;
    }

    .signUp form input[type=checkbox] + label {
        font-size: 12px;
    }

    /* 폼 세 구역으로 구분 */
    .signUp form>div {
        padding: 25px 0;
    }

    /* 폼 구역 안 구분 공통 */
    .signUp form>div>div {
        margin-bottom: 20px;
    }

    .signUp form>div>div input::placeholder {
        font-size: 0;
    }

    /*==== idPw ====*/
    .idPw .id button {
        margin-left: 15px;
        min-width: 65px;
        font: 12px 'NEXON Lv2 Gothic';
    }

    /*==== info ====*/
    .info .email input + span,
    .info .email #email,
    .info .email .firstEmail {
        display: none;
    }

    .info .email input,
    .info .phoneNum input {
        margin: 0;
        width: 69.3877%;
    }

    .info .phoneNum input::placeholder {
        font-size: 12px;
    }

    /*==== agree ==== */
    /* title */
    .agree .title label + img {
        width: 20px;
    }

    /* contents */
    .agree .contents p {
        line-height: 23px;
    }

    /*==== button ====*/
    .signUp form>button {
        width: 100px;
        height: 40px;
        font: 12px 'NEXON Lv2 Gothic';
    }
}

@media screen and (max-width:410px) { /*======== 410 =======*/
    /*========== footer ==========*/
    /* 주소,연락처 */
    .adrTxt span {
        display: block;
        padding-right: 0px;
    }
}